@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scrollbar-color: #9b6fd0 #3d4a59;

}


*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);

  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);

  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);
  --blue2: rgb(31, 43, 63);
  --icon-hover: #d4d4d8;
  --container-padding: 4.8rem;
}

.light {
  --primary: rgb(250, 250, 250);
  --secondary: rgb(255, 255, 255);
  --border: rgba(202, 202, 202, 0.518);

  --title: rgb(39 39 42);
  --subtitle: rgb(82 82 91);

  --bgHeader: rgb(253, 253, 253);
  --blue: rgb(0, 149, 246);

  --icon-hover: #333;
}

body {
  background-color: var(--primary);
  color: #fff;
}



li {
  list-style: none;
}
a {
  all: unset;
  transition: 0.2s;
}
a:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}



/* ========================
    1. Header Design
=========================== */

header.flex {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
  }
  
  header.flex nav {
    background-color: transparent;
    
  }
  
  header ul.flex {
    gap: 24px;
  }
  
  header ul li a {
    color: var(--title);
    opacity: 0.9;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  header ul li a:hover {
    color: #a286fe;
    opacity: 1;
    font-size: 1.3rem;
  }
  
  header button {
    font-size: 1.2rem;
  }
  
  header button.menu {
    display: none;
  }
  .logo{
    margin-top: 10px;
  }
  .logo .firstlogo{
    font-family: "Great Vibes", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    color: #a286fe;
  }
  
  header .icon-menu,
  header button.mode {
    background-color: var(--bgHeader);
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    color: var(--subtitle);
    border: 1px solid #a286fe;
    transition: 0.2s;
    box-shadow: 1px 1px 40px rgba(35, 35, 36, 0.165);
  }
  
  header .icon-sun {
    color: #a286fe;
  }
  
  header .icon-menu:hover,
  header button.mode:hover {
    color: #a286fe;
    border: 1px solid #a286fe;
  }
  
  header .fixed {
    position: fixed;
    inset: 0;
    z-index: 11;
    background-color: rgba(40, 40, 48, 0.91);
    backdrop-filter: blur(4px);
  }
  
  @keyframes mymove {
    0% {
      scale: 0;
    }
  
    60% {
      scale: 1.2;
    }
  
    100% {
      scale: 1;
    }
  }
  
  header .fixed ul.modal {
    animation: mymove 0.77s 1;
    width: 75%;
    margin-inline: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: var(--secondary);
    
  }
  
  header .fixed ul.modal li {
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.77rem;
    padding-top: 0.5rem;
    padding: 1rem;
  }
  
  header .fixed ul.modal li:first-child {
    text-align: right;
    border: none;
    padding-bottom: 0;
    padding-top: 0.2rem;
    margin-bottom: -1rem;
   
  }
  
  header .fixed ul.modal li:last-child {
    border: none;
  }
  
  header .fixed ul.modal li a {
    font-size: 1rem;
  }


  header .icon-close {
    font-size: 1.5rem;
    color: var(--subtitle);
    transition: 0.3s;
    border: none;
    background: none;
    margin-top: 7px;
  }
  
  header .icon-close:hover {
    font-size: 1.7rem;
    color: #635985;
    rotate: 180deg;
  }
  
  /* ################################# Responsive design################################################## */
  @media (width < 700px) {
    header.flex nav {
      display: none;
    }
  
    header button.menu {
      display: block;
    }
  }
  
  /* ###############################  Hero  ############################################# */


  section.hero {
    margin-top: 3rem;
  }
  
         /* ##################### Left ################### */
  
  
  
  section.hero .left-section {
    flex-grow: 1;
    margin-left: 55px;
    width: 95%;
  }
  
  
  section.hero h1.title {
    font-size: 5vw;
    font-weight: bold;
    margin-top: 30px;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #a862d4, #b48cd3, #0d238f, #3388ff, #f468ba);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    color: transparent;

  }
  @keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  section.hero p.sub-title {
    color: var(--subtitle);
    font-size: 1.3rem;
    line-height: 2rem;
    /* margin-bottom: -130px; */
  }
  
  section.hero .all-icons {
    font-size: 1.3rem;
    gap: 1.5rem;
    color: var(--subtitle);
    margin-top: 18px;
  }
  
  section.hero .all-icons .icon:hover {
    font-size: 1.4rem;
    transition: 0.3s;
    cursor: pointer;
    color: var(--icon-hover);
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .typewriter {
    font-size: 5vw;
    margin: 24px 0;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #ff6600;
    animation: typing 2s steps(20, end), blink 0.4s step-end infinite alternate;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #7e89c2, #b48cd3, #84599b, #9c33ff, #ff33aa);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientMove 3s ease infinite;
  }

  @keyframes blink {
   50% {
  border-color: transparent;
  }
  }


  /* ===================================
      2. Right Section ==> animation
  ====================================== */
  section.hero .animation {
    width: 80%;
    translate: 0px 75px;
    margin-left: 20px;
  }
  .contact-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #6C4AAA;
    border: 2px solid #9581d7;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-button:hover {
    background-color: transparent;
    color: #7f37d8;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.contact-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
  @media (max-width: 800px) {
    section.hero .left-section {
      margin-left: 40px;
    }
    section.hero .animation {
      display: none;
    }
    section.hero h1.title {
      font-size: 10vw;
    }
    .typewriter {
      font-size: 9vw;
      
    }
    section.hero p.sub-title {
      font-size: 1.6rem;
      line-height: 2.3rem;
      /* margin-bottom: -130px; */
      
    }
  }
  



/*########################################### About Me ###################################################*/



.skill {
  padding: 0 0 50px 0;
  position: relative;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-bx {
  background: #4c4269;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: 50px;
  box-shadow: 10px 10px 20px  #776c91;
  width: 70%;
}

.skill h2 {
}
.skill p {
    color: #f6f6f9;
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
    font-size: 1.2rem;
    line-height: 1.9rem;
    margin-bottom: 30px; 
    margin-top: 30px;

}

.download-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.download-btn {
  background: linear-gradient(135deg, #7d2ae8, #9b59b6);
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  transition: background 0.3s, transform 0.2s;
  text-decoration: none;
}

.download-btn.hovered {
  background: linear-gradient(135deg, #9b59b6, #7d2ae8);
}

@media (max-width: 800px) {
  .skill-bx {
    width: 90%;
  }
}

/* ####################################### Skills ################################################################# */

.global-skills h2{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
  color: var(--title);
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: transparent;
  padding: 24px;
  border-radius: 12px;
  width:900px;
  margin: auto;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color:#2a006e;
  box-shadow: 0 2px 10px #776c91;
  border: 1px solid #776c91;  padding: 30px 40px;
  border-radius: 8px;
  transition: transform 0.2s;
}

.skill-item:hover {
  transform: scale(1.05);
}

.skill-icon {
  width: 44px;
  height: 44px;
}

.skill-name {
  font-weight: 600;
  font-size: 16px;
}

.skill-item:nth-child(7) .skill-icon {

}
.skill-item:nth-child(5n+1) {
  clear: left; 
}

@media (max-width: 1024px) {
  .skills-container {
    width: 80%;
    gap: 12px;
    padding: 20px;
  }

  .skill-item {
    padding: 20px 30px;
  }
}






/* ###################### Main ########################################################## */



.container--flex {
  margin-top: 80px;
}

.container--flex h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: var(--title);
}

main.flex {
  gap: 2.64rem;
  align-items: start;
}

main section.right-section.flex {
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  background: white;
  width: 100%;
  max-width: 450px;
  height: 560px; 
  padding: 20px;
  border: 1px solid rgba(93, 188, 252, 0.3);
  justify-content: space-between;
  overflow: hidden; 
  will-change: transform; 
}
.card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  border-color: #a286fe;
}

.carousel-container {
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden; 
}

.carousel img {
  width: 100%!important;
  height: 100%;
  object-fit: contain; 
  border-radius: 8px;
}
.carousel video{
  
}


.carousel-controls-bottom {
  display: flex;
  justify-content: center !important;
  margin-top: 20px;
  width: 100%;
}

.arrow {
  width: 1.4rem !important;
  height: 1.4rem !important;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.995);
  border-radius: 100% !important;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: black;
  border: 0.5px solid #23125b;

}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.slide.active {
  display: flex;
}

.image-slide,
.video-slide {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(5, 4, 4, 0.5);
  border: none;
  padding: 4px;
  cursor: pointer;
  font-size: 13px;
  z-index: 10;
  transition: background 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: gray;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: white;
}

main.flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajuste les colonnes selon l'espace disponible */
  gap: 2rem; /* Espacement entre les cartes */
  justify-content: center;
  align-items: start;
  padding: 20px;
  max-width: 1400px;
  margin: auto;
}
.box{
  /* height: 100px; */
  padding: 20px;
}

.box h1{
color: #e5e8ec;
}
.box .sub-title{
  color: #e5e8ec;
  margin-bottom:10px ;
}
.icons{
  color: #776c91;
  font-size: 25px;
}

/* ================================
  Container Principal 
================================ */
main.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrer les cartes */
  gap: 20px; /* Espacement entre les cartes */
  padding: 20px;
  max-width: 1400px;
  margin: auto;
}

/* ================================
  Cartes (Card)
================================ */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: transparent;
  width: 100%;
  max-width: 450px;
  height: 530px;
  padding: 20px;
  /* border: 1px solid #4c4269; */
  justify-content: space-between;
  overflow: hidden;
  transform: scale(1.05);
  box-shadow: 0 6px 12px #776c91;
  border: 2px solid #776c91;
}




/* ================================
  Responsive Design
================================ */


@media (min-width: 1024px) {
  .card {
    flex: 1 1 calc(33.33% - 20px); /* 3 cartes */
  }
}

@media (max-width: 1023px) {
  .card {
    flex: 1 1 calc(50% - 20px); /* 2 cartes */
  }
}

@media (max-width: 768px) {
  main.flex {
    justify-content: center;
  }
  .card {
    flex: 1 1 100%; /* 1 carte */
  }
}






.particles-container {
  position: relative;
  width: 100%;
  height: 30px; /* Hauteur personnalisable selon ton design */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}



.timeline {
  position: relative;
  width: 80%;
  margin: auto;
  padding: 50px 0;
}
.global-timeline h2{
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
  color: var(--title);
}

.timeline-line {
  position: absolute;
  top: 0; /* Partir du haut */
  left: 50%;
  width: 4px;
  height: 100%; /* Ajuste la hauteur pour englober tout */
  background: #6C4AAA;
  transform: translateX(-50%);
}


.timeline-item {
  position: relative;
  width: 50%;
  margin-bottom: 40px;
  padding: 10px;
  color: white;
}

.timeline-item.left {
  text-align: right;
  padding-right: 30px;
}

.timeline-item.right {
  text-align: left;
  padding-left: 30px; 
  margin-left: 50%;
}



.timeline-content {
  background: #6C4AAA; 
  color: white;
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  display: inline-block;
  max-width: 400px; 
  font-weight: bold;
  position: relative;
  left: 5%;
  opacity: 0; /* Initially hidden */
  transform: translateX(50px); /* Initially shifted to the right */
  transition: opacity 1s, transform 1s; /* Transition properties */
}

.timeline-item.left .timeline-content {
  text-align: left;
  left: -5%;
}

.timeline-item.right .timeline-content {
  text-align: left;
}

.timeline-content::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  transform: translateY(-50%);
}

.timeline-item.left .timeline-content::before {
  right: -14px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #6C4AAA;
}

.timeline-item.right .timeline-content::before {
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #6C4AAA transparent transparent;
}

.timeline-icon-container {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: #6C4AAA;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.timeline-item.left .timeline-icon-container {
  left: 100%;
  transform: translate(-50%, -50%);
}

.timeline-item.right .timeline-icon-container {
  left: 0;
  transform: translate(-50%, -50%);
}


.timeline-icon svg {
  color: white;
}

.timeline-item.right .timeline-content::before {
  left: -14px; 
  border-width: 10px 15px 10px 0;
  border-color: transparent #6C4AAA transparent transparent;
  background: none; 
}
.timeline-content h3{
  color: rgb(12, 12, 12);
  font-weight: bold;
}
.timeline-content p{
  color: #cbc0f0;
  font-style:oblique ;
  font-size: 15px;
  font-weight: 400;
}
.timeline-content.visible {
  opacity: 1; 
  transform: translateX(0); 
}

@media (max-width: 768px) {
  .timeline {
    width: 100%;
    padding: 20px 0;
  }

  .timeline-line {
    left: 25px; 
    width: 4px;
    height: 100%;
    background: #6C4AAA;
    transform: translateX(0);
  }

  .timeline-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
  }

  .timeline-item.left, .timeline-item.right {
    margin-left: 0;
    padding-left: 80px; 
  }
  .timeline-item.left{
    padding-left: 40px; 

  }

  .timeline-item.left .timeline-content {
    left: 0;
    text-align: left;
  }

  .timeline-item.right .timeline-content {
    left: 0;
    text-align: left;
  }

  .timeline-icon-container {
    left: 20px; 
    transform: translate(-50%, -50%);
  }

  .timeline-item.left .timeline-icon-container {
    left: 28px;
    transform: translate(-50%, -50%);
  }

  .timeline-item.right .timeline-icon-container {
    left: 28px;
    transform: translate(-50%, -50%);
  }

  .timeline-content {
    left: 0;
    max-width: 90%;
    transform: translateX(0);
  }

  .timeline-content::before {
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #6C4AAA transparent transparent;
  }

  .timeline-item.left .timeline-content::before {
    left: -14px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #6C4AAA transparent transparent;
  }

  .timeline-item.right .timeline-content::before {
    left: -14px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #6C4AAA transparent transparent;
  }
}


.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh ;
  background-color: transparent;
  width: 100%;
  padding: 0 20px; 
  position: relative;
}

.contact-wrapper {
  display: flex;
  background-color: transparent;
  padding: 30px;
  border-radius: 8px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
  max-width: 1200px; /* Limite la largeur maximale si nécessaire */
  width: 100%;
  height: 600px !important;
  position: relative;
}

.contact-box {
  flex: 1;
  padding-right: 20px;
}

h2 {
  color: var(--title);
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}



.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.contact-form label {
  color: #8869BD;
  text-align: left;
  margin-bottom: 5px;
  font-size: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #9173ae;
  border-radius: 5px;
  background-color:transparent;
  color: #ffffff;
}

.contact-form textarea {
  height: 100px;
  resize: none;
}

.contact-form button {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  width: 120px;
  font-size: 17px;
  text-align: center;
  
}

.contact-form button:hover {
  background-color: #0056b3;
}

.contact-message {
  margin-top: 15px;
  color: #ffffff;
  font-size: 14px;
}

.contact-box {
  flex: 1;
  padding-right: 20px;
}


.contact-image {
  flex: 1;
  display: flex;
  align-items: flex-start; /* Aligner le robot en haut */
  height: 100%; /* Pleine hauteur de l'écran */
  overflow: hidden; /* Empêcher le débordement */
  position: relative;
}

.spline-viewer {
  width: 100%;
  /* height: 100%; */
  position: absolute; /* Position absolue pour un positionnement précis */
  top: 0;
  left: 0;
}
iframe, canvas {
  pointer-events: none; /* Empêche les interactions */
}

.spline-viewer {
  position: relative;
}

.spline-viewer canvas {
  display: block;
}

@media (max-width: 800px) {
  .contact-image {
    display: none;
  }
}


.spline-viewer div {
  display: none !important; /* Masque les overlays, y compris le logo */
}

iframe, canvas {
  pointer-events: none; /* Empêche l'interaction avec le logo */
}
.spline-viewer div {
  display: none !important;
}


.contact-image canvas {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%); /* Rogner le bas du canvas */
}


.footer {
  background-color: transparent; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 20px 0; /* Espacement intérieur */
  text-align: center; /* Centrer le contenu */
  border-top: 1px solid #444; /* Bordure supérieure */
}

.footer-content {
  max-width: 1200px; /* Largeur maximale du contenu */
  margin: 0 auto; /* Centrer le contenu */
  padding: 0 20px; /* Espacement horizontal */
}

.footer-links {
  display: flex;
  justify-content: center; /* Centrer les icônes horizontalement */
  gap: 20px; /* Espace entre les icônes */
  margin-bottom: 10px; /* Espace sous les icônes */
}

.footer-links a, .footer-links button {
  color: #8b7cbc; /* Couleur des icônes */
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease; /* Animation au survol */
  position: relative; /* Pour positionner le message "Copié" */
}

.footer-links a:hover, .footer-links button:hover {
  color: #635985; /* Couleur au survol */
}

.phone-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-message {
  position: absolute;
  top: -25px; /* Positionner le message au-dessus de l'icône */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.footer-text p {
  margin: 0; /* Supprimer la marge par défaut */
  font-size: 18px; /* Taille du texte */
  color: #a286fe;
}


